.logo {
    height: 80px;
    width: auto;
  }  
.navbar-nav .nav-link {
    color: white; 
    font-weight: bold;
    margin-right: 15px;
  }
.navbar-nav .nav-link:hover {
    color: rgb(0, 0, 0); 
  }
  .navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background: #DC5A78 !important; 
    z-index: 1000;
    padding: 10px 20px;
    transition: background 0.3s ease-in-out;
}